# CS530 Quiz1

## Question 1:

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
list_1 = [2, 3, 4, 5, 6, np.nan, 9, 27, np.nan, np.nan, 9, 1, 3, 5, 3, 6]
list_2 = [4, 5, np.nan, 10, 11, 7, 3, 4, 4, 6, np.nan, 10, 2, 3, 6, 5]

Do the following using Numpy
* Fill in the NA values for the two lists with random integers between 1-10

In [ ]:
list_1 = np.array(list_1)
list_2 = np.array(list_2)

* Find the indexes for the even number for list_2.

In [ ]:
print(list(filter(lambda i: i%2 == 0,list_2)))

[4, 10, 4, 4, 6, 10, 2, 6]

* Get the union and intersections of the two lists.

In [ ]:
print(list(set(list_1)&set(list_2)))
print(list(set(list_1)|set(list_2)))

[nan, 2, 3, 4, 5, 6]
[nan, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 27]

* Convert the two lists into two 4x4 matrixes, apply matrix multiplication, and find the eigenvalues and eigenvectors for the matrix.

In [ ]:
list_1.reshape(4,4)
list_2.reshape(4,4)

array([[ 4.,  5., nan, 10.],
       [11.,  7.,  3.,  4.],
       [ 4.,  6., nan, 10.],
       [ 2.,  3.,  6.,  5.]])

## Question 2:

* Load the titanic.csv dataset

In [ ]:
titanic = pd.read_csv("titanic.csv")

* Print the first 12 rows of the dataset (You should have 11 passengers and the column labels)

In [ ]:
titanic.head(12)

    PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0             1         0       3  ...   7.2500   NaN         S
1             2         1       1  ...  71.2833   C85         C
2             3         1       3  ...   7.9250   NaN         S
3             4         1       1  ...  53.1000  C123         S
4             5         0       3  ...   8.0500   NaN         S
5             6         0       3  ...   8.4583   NaN         Q
6             7         0       1  ...  51.8625   E46         S
7             8         0       3  ...  21.0750   NaN         S
8             9         1       3  ...  11.1333   NaN         S
9            10         1       2  ...  30.0708   NaN         C
10           11         1       3  ...  16.7000    G6         S
11           12         1       1  ...  26.5500  C103         S

[12 rows x 12 columns]

*  PRINT the shape of the dataset in the line below (Copied/Pasted answers will NOT be accepted)

In [ ]:
print("The shape of the dataset is: ", titanic.shape)

The shape of the dataset is:  (97, 12)

* PRINT the column names in the line below (Copied/Pasted answers will NOT be accepted)

In [ ]:
print("The columns in the titanic dataset are:  ", titanic.columns.values)

The columns in the titanic dataset are:   ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

* Create a groupby object using titanic over the 'Sex' column: by_sex
* Create a groupby object using titanic over the 'Pclass' column: by_class

In [ ]:
by_sex = titanic.groupby(['Sex'])
by_class = titanic.groupby(['Pclass'])

* Create a variable grouped by Pclass and Survived

In [ ]:
count_by_class = titanic.groupby(['Pclass','Survived'])

# Print count_by_class
print(count_by_class)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fbcc179d198>

* Create a variable grouped by Pclass and Survived

In [ ]:
count_by_class = titanic.groupby(['Pclass','Survived'])

# Print count_by_class
print(count_by_class)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fbcc1516780>

* Aggregate and create a variable by 'Survived' column of 'Pclass', 'Sex'

> Indented block

In [ ]:
count_mult = titanic['Pclass','Sex'].aggregate('Survived')

# Print count_mult
print(count_mult)

KeyError: ignored